<h1>Showing selected article</h1>
<p>Title: <%= @article.title %>
</p>

<p>
Description: <%= @article.description %>
	<ul class="listing">
		<div class="row">
				<li><%= user_path(@article.user) %> </li>
				<li class="article-title">
					<%= link_to @article.user.username, user_path(@article.user) %>
				</li>
				<li>
					<small>
						<%= pluralize(@article.user.articles.count, "article") if @article.user.articles %>
				</small>
				</li>
				</div>
</p>
<%= link_to "edit this article", edit_article_path(@article)%> |
<%= link_to "back to listing", articles_path %>