<h1 align="center"> Signup <h1>
<% if @user.errors.any? %>
<h2>following fucked up <h2>
<ul>
<% @user.errors.full_messages.each do |msg|%>
<li><%= msg %></li>
<%end%>
<%end%>

<%= form_for @user do |f| %>
<p>
	<%= f.label :username %> 
	<%= f.text_field :username %>
</p>
<p>
	<%= f.label :email %>
	<%= f.email_field :email %>
</p>
<p>
	<%= f.label :password %>
	<%= f.password_field :password %>
</p>
<p>
	<%= f.submit %>
</p>
<% end %>

<%= link_to "back to listing", articles_path %>